@import '../include_helpers';

.contact {
  &-side {
    &-container {

    }
    &-inner {
      position: relative;
    }
    &-phone {
      position: absolute;
      top: 10rem;
      &.animation {
        animation-name: show-side;
        animation-duration: .8s;
        animation-delay: 1s;
      }
    }
    &-email {
      position: absolute;
      top: 14.3rem;
      &.animation {
        animation-name: show-side;
        animation-duration: .8s;
        animation-delay: 1.5s;
      }
    }
    &-item {
      position: fixed;
      z-index: 400;
      color: #fff;
      padding: 1rem;
      right: -9rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      background: $brand-main;
      transition: .3s;
      min-width: 13rem;
      text-align: left;
      border: 1px solid rgba(255,255,255,.25);
      &:hover {
        color: #fff;
        right: 0;
        transition: .3s;
      }
    }
  }
  &-icon-thumb {
    max-width: 2rem;
    margin-right: 1rem;
  }
}

@keyframes show-side {
  0%    {right: -9rem;}
  50%   {right: -3rem;}
  100%  {right: -9rem;}
}