@import '../include_helpers';

.partners {
  &-header {
    text-align: center;
    margin-bottom: 0;
    color: #fff;
  }
  &-subheader {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2.2rem;
    color: #fff;
  }

  &-container {
    background-color: $brand-main;
    padding-top: 4rem;
    padding-bottom: 4rem;

    &-item {
      text-align: center;
      transform: scale(1.0);
      transition: .3s;
      &:hover {
        transform: scale(1.1);
        transition: .5s;
      }
    }
  }
  &-row {
    min-height: 10rem;
    align-items: center;
  }
}