@import '../include_helpers';


.counters {
  &-container {
    background-size: cover;
    background-position: center;
  }

  &-item {
    min-height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(1.0);
    transition: .3s;
    &:hover {
      transform: scale(1.1);
      transition: .5s;
    }
    &-number {
      color: $brand-main;
      font-size: 4.5rem;
      margin-bottom: 0;
    }
    &-title {
      font-size: 1.2rem;
      color: #fff;
      margin-bottom: 0;
      transform: translateY(-1.5rem);
    }
  }
}